<div class="app-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <div class="row">
            <div class="col-7">
              <h2 class="localization-text-container">Aby wyświetlić informacje pogodowe proszę wybrać lokalizację:
              </h2>
            </div>
            <div class="col-5 localization-container">
              <mat-form-field>
                <mat-label>
                  Lokalizacja
                </mat-label>
                <input matInput
                       [formControl]="localizationControl">
              </mat-form-field>
              <button mat-button
                      [disabled]="localizationControl.invalid"
                      color="primary"
                      (click)="searchClicked()">Szukaj</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div *ngIf="todayWeather$ |async as weather">
      <div class="row">
        <div class="col-4">
          <app-today-weather [weather]="weather"></app-today-weather>
        </div>
        <div class="col-8">
          <app-air-quality [weather]="weather"></app-air-quality>
        </div>
      </div>
      <div class="row">
        <app-seven-days-weather [weather]="weather"></app-seven-days-weather>
      </div>
    </div>
  </div>
</div>
